/* Switch page */
.switch-page {
    margin-top: 15px;
    font-size: 14px;
}

.switch-page a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}

.switch-page a:hover {
    text-decoration: underline;
}
